@tailwind base;
@tailwind components;

/* Taken from https://stackoverflow.com/a/45524215 */
/* html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
} */

body {
    @apply font-serif;
}

.container {
    max-width: 1024px !important;
}

@tailwind utilities;
